.block-sizing {
  inline-size: clamp(375px, 100%, 700px);
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-style {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  color: var(--accent-color);
}

.reset-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reset-focus:focus {
  outline: none;
}

.button__text {
  font-family: var(--accent-font);
  white-space: nowrap;
  mix-blend-mode: difference;
  font-weight: 400;
  line-height: 90%;
}

.style-btn {
  position: relative;
  color: var(--text-button-color);
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  inline-size: 100%;
}

.style-btn:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
  transition: 0.3s;
}

.style-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
}

.style-btn:hover::before {
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
}

.text-style {
  text-transform: uppercase;
  font-family: var(--accent-font), monospace;
}

.page {
  font-size: 14px;
  padding-block: 100px;
  font-family: var(--main-font), monospace;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-weight);
  container-name: inline-size;
  container-type: inline-size;
}

.header {
  padding: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem) 14px 25px;
  margin-block-end: 100px;
}

.header__title {
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
}

.header__description {
  margin-bottom: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__item:not(:last-of-type) {
  margin-bottom: 14px;
}

.theme-menu__button {
  position: relative;
  padding: 0 0 0 18px;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 18px;
  width: calc(100% - 18px);
  height: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after{
  transform: scaleX(1);
}

.theme-menu__button:focus-visible::after,
.theme-menu__button:hover,
.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -4px;
  animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(4px);
  }
  100% {
    transform: translate(0px);
  }
}

.content {
  gap: 54px;
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--accent-weight);
}


.card__image-wrapper {
  position: relative;
  border-block: 2px solid var(--accent-color);
  line-height: 0;
  overflow: hidden;
}

.card__image {
  object-fit: contain;
  object-position: center;
  inline-size: 100%;
}

.card__image-lable_text {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: clamp(0.688rem, -0.322rem + 4.308vw, 1.563rem);
  opacity: 0.5;
  text-shadow: -1px 0 var(--stroke-color), 0 -1px var(--stroke-color),
    1px 0 var(--stroke-color), 0 1px var(--stroke-color);
  mix-blend-mode: hard-light;
  line-height: 100%;
}

.card__content-wrapper{
  padding: 25px;
}

.card__discription {
  font-size: 18px;
  line-height: 21px; /* 116.667% */
  margin-block-end: 27px;
}

.card__discription:last-of-type {
  margin-block-end: 25px;
}

.card__wrapper-btn {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.card__like-button {
  inline-size: 130px;
   block-size: 38px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  block-size: 38px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.like-icon {
  inline-size: 40px;
  block-size: 38px;
}

.contour {
  fill: var(--accent-color);
  transition: 0.3s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.sparks {
  fill: var(--color-heart);
  opacity: 0;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart);
  transition: 0.3s 0.06s;
}

.card__icon-button:hover .main-body,
.card__icon-button:hover .core {
  fill: var(--accent-color);
}

.card__icon-button:hover .main-body,
.card__icon-button:active .main-body {
  transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .core,
.card__icon-button:active .core {
  transition: fill 0.3s;
}

.card__icon-button:active .main-body,
.card__icon-button:active .core,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--color-heart);
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s 0.1s ease-in;
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.button-modal-container{
  padding: 0 35px;
}

.button-save {
  gap: 8px;
  padding: 15px 20px;
}

.button-save__image-floppy {
  inline-size: calc(3.063rem - clamp(1.313rem, 1.158rem + 0.657vw, 1.75rem));
  mix-blend-mode: difference;
  aspect-ratio: 1 / 1;
}

@container (inline-size > 400px) {
  .button-save {
    flex-direction: row;
    inline-size: 21.3rem;
  }
}

.dialog {
  padding: 30px;
  inline-size: 357px;
}

.dialog__content {
  flex-direction: row;
  gap: 10px;
  margin-bottom: 30px;
}

.dialog__image {
  block-size: 39px;
  inline-size: 100px;
}

.dialog__description {
  line-height: 150%; /* 21px */
}

.dialog__button{
block-size: 38px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.come-on__image {
  filter: grayscale(1);
}

.empy-head__image {
  animation: empy-head 10s infinite;
}

@keyframes empy-head {
  from {
    filter:opacity(1) blur(0.1rem);;
  }
  to{
    filter:opacity(0);
    
  }
}

.dont-fear-us__image {
  filter: sepia(1);
}

.perfect__image{
  animation: perfect 10s infinite;
}

@keyframes perfect {
  from {
    filter:hue-rotate(0);
  }
  to{
    filter: hue-rotate(360deg);
  }
}

.support__image{
  filter: grayscale(1) contrast(9);
}


.strategy__image {
  filter: contrast(1.5);
}

.hands-are-released__image {
  filter:  saturate(2);
}

.where-i__image {
  filter:contrast(1.2) saturate(1.5);
}