/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
  --main-font: "Inter-Variable";
  --accent-font:"PressStart2P-Regular";
  --main-weight: 400;
  --accent-weight:700;
  --accent-color: #000;
  --bg-color: #FFF;
  --stroke-color: #FFF;
  --color-heart: red;
  --bg-gradient: repeating-linear-gradient(90deg, #d3d3d3 , transparent 2px),
  repeating-linear-gradient(0deg, #d3d3d3 , transparent 2px),
  linear-gradient(#e7e7e7, #1a1a1a);  ;
}

